.todo-app{
    display: flex;
    justify-content: center;
    margin:0;
    padding: 0;
    box-sizing: content-box;
  }
  .container{
    border: 1px solid blueviolet;
    width: 45%;
     text-align: center;
     height: 80vh;
     overflow-y: scroll ;
     background-color: rgb(231, 245, 231);
  }
  @media(max-width:980px){
    .container{
     
      width: 50%;
       text-align: center;
       height: 80vh;
       overflow-y: scroll ;
       
    }
  }
  @media(max-width:460px){
    .container{
      border: 1px solid blueviolet;
      width: 50%;
       text-align: center;
       height: 60vh;
       overflow-y: scroll ;
       
    }
    .list-container{
      font-size: 1.1rem;
    }
    .list-container input{
      width:60%;
      border-top: none;
      border-right: none;
      border-left: none;
      border-bottom: 1px solid blueviolet;
      background-color: rgb(214, 212, 212);
    }
  }
  .container  h1{
    background-color: blueviolet;
    color: white;
  }
  .list-container{
    padding: 15px;
    margin: 15px;
    font-size: 1.1rem;
  }
  .list-container input{
    position: relative;
    width:63%;
    padding: 5px;
    border-top: none;
    border-right: none;
    border-left: none;
    margin: 5px;
    border-bottom: 1px solid blueviolet;
    background-color: rgb(231, 227, 227);
  }
  
  .add-button{
    width: 8vw;
    padding: 5px;
    background-color: green;
    color: white;
    border: 1px solid green;
    margin-left: 5px;
    border-radius: 3px;
  }
  .add-button:hover{
    background-color: rgb(6, 155, 6);
    border-radius: 3px;
    border: 1px solid white;
  }
  .delete-button{
    width: 10vw;
    border-radius: 3px;
    padding: 6px;
    background-color: rgb(240, 11, 11);
    color: white;
    border:  1px solid rgb(240, 11, 11) ;
  }
  .delete-button:hover{
    background-color: red;
    border-radius: 3px;
    border: 1px solid white;
  }
  .item-container{
    display: flex;
    align-items:center ;
    padding: 5px;
    margin: 5px;
    border: 1px solid gray;
    border-top: none;
    border-right: none;
    border-left: none;
  }
  .item-container li{
       list-style: none;
       text-transform: capitalize;
  }
  .item-listed{
    display: grid;
    grid-template-columns: 1fr 5fr 5fr 3fr ;
      
  }
  